main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 3.9375rem;
    margin-bottom: 6.75rem;
}

main h1 {
    font-size: 3.75rem;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

main h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #666666;
    margin: 0;
}

form {
    margin: 0;
    width: 995px;
}

#camposTodos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#c1, #c2 {
    display: flex;
    flex-direction: column;
}

form label {
    padding-top: 1.4375rem;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}

form input {    
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    width: 26.875rem;
    height: 3.8125rem;
    border-radius: 12px;
    border: solid;
    border-color: #AEAEAE;
    border-width: 3px;
    outline: none;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo #mensagem {
    resize: none;
    width: 26.875rem;
    height: 11.5675rem;
    border-radius: 12px;
    border: solid;
    border-color: #AEAEAE;
    border-width: 3px;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

#radios {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5625rem;
}

.opcao {
    display: flex;
    padding: 0;
    width: auto;
    cursor: pointer;
    align-items: center;
    gap: .6875rem;
    font-size: 30px;
}

.opcao input[type="radio"] {
  width: 50px;  
  height: 50px; 
  margin: 0;
  cursor: pointer;
}

#btn {
    display: flex;
    justify-content: center;
}

form button {
    margin-top: 4.4375rem;
    width: 31.3125rem;
    height: 8.25rem;
    border-radius: 2.875rem;
    border: none;
    background-color: #FF9538;

    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
}