section {
    margin-top: 84px;
    padding: 0 121px;
}

section h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 8;
}

.cardsTodos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    max-width: 451px;
    max-height: 393px;
    border-style: solid;
    border-radius: 20px;
    border-color: #9E9E9E;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.titulo {
    font-size: 40px;
    font-weight: bold;
    color: #9B32EB;
    margin: 0px;
    padding: 6px;
}

.descServicos {
    font-weight: bold;
    font-size: 16px;
    color: #666666;
    text-align: left;
    padding: 0 18px;
    margin: 0;
}

.saibaMais {
    color: #0C51FF;
    margin: 0;
    padding-bottom: 17px;
    padding-top: 33px;
    font-size: 24px;
    font-weight: bold;
}

.avaliadores {
    display: flex;
    align-items: center;
    gap: 75px;
    padding-bottom: 84px;
}

.pessoaAvaliadaH {
    background-color: #596468;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .5625rem;
    width: 50.0625rem;
    height: 22.9375rem;
    border-radius: 20px;
}

.pessoaAvaliadaM {
    background-color: #A49191;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: .5625rem;
    width: 50.0625rem;
    height: 22.9375rem;
    border-radius: 20px;
}

.nome {
    font-size: 1.5625rem;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 1.0625rem;
}

.textoAvaliacao {
    margin-left: 1.75rem;
    height: 19.8125rem;
    margin-right: 2.8125rem;
    text-align: left;
}

.textoAvaliacao p {
    font-size: 1.3125rem;
    font-weight: bold;
    margin: 0;
}

.textImage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18.125rem;
}